@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.top {
  background-color: #87509c;
  height: 600px;
}
.top__body {
  max-width: 1200px;
  margin: 0px auto;
  min-width: 1200px;
}
.top__logo {
  margin-top: 55px;
}
.top__nav {
  display: inline-block;
  margin-top: 74px;
  margin-left: 500px;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.top__nav-item {
  color: #ffffff;
  margin: 0 30px;
}
.top__nav-item:hover {
  padding: 8px 15px;
  border-radius: 7px;
  background-color: #643a79;
  margin: 0 15px;
}
.top__text {
  margin-top: 140px;
  color: #f7f3ea;
  font-family: "Titillium Web";
  font-size: 42px;
  font-weight: 700;
  line-height: 48.82px;
  text-align: center;
  margin-bottom: 110px;
}
.top__button {
  background-color: #eb7d4b;
  border-bottom: 5px solid #c86a40;
  margin-left: 450px;
}
.top__button:active {
  background-color: #cf6b3d;
  color: rgb(175, 174, 174);
}

.button {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 600;
  line-height: 26.19px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  border-radius: 5px;
  padding: 25px 70px;
}
.button:active {
  position: relative;
  top: 3px;
}

.service {
  background-color: #17c2a4;
  height: 745px;
}
.service__body {
  max-width: 1200px;
  margin: 0px auto;
  min-width: 1200px;
}
.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-left: -15px;
  margin-top: 80px;
}
.service__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 60px;
}

.title {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 30px;
  padding-top: 116px;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100px;
  background-color: #14a58b;
  left: 48%;
  margin-left: -25px;
}

.subtitle {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.36px;
  margin-top: 20px;
}

.item-service__title {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin: 60px 0 25px 0;
  text-align: center;
}
.item-service__text {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.32px;
  width: 190px;
}

.icon-move {
  margin-left: 40px;
}

.team {
  height: 915px;
  background-color: #e7f1f8;
}
.team__title {
  color: #3c4761;
}
.team__title::after {
  background-color: #c7d9e5;
}
.team__subtitle {
  color: #3c4761;
}
.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 400px;
  margin: 0 70px 0 70px;
  max-width: 230px;
}

.item-team {
  font-family: "Titillium Web";
}
.item-team__photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 15px;
}
.item-team__title {
  color: #27283d;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin: 40px 0 15px 0;
  white-space: nowrap;
}
.item-team__subtitle {
  color: #30bae7;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.32px;
  margin-bottom: 25px;
}
.item-team__text {
  color: #3c4761;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.32px;
  margin-bottom: 30px;
}
.item-team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-team__icons1 {
  margin: 0 7px 0 7px;
}
.item-team__icons2 {
  margin: 0 10px 0 10px;
}
.item-team__icons3 {
  margin: 0 7px 0 7px;
}
.item-team__icons4 {
  margin: 0 7px 0 7px;
}

.skills {
  display: none;
  background-color: #ffffff;
  height: 655px;
}
.skills__title {
  color: #3c4761;
}
.skills__title::after {
  background-color: #dfe8ed;
}
.skills__subtitle {
  color: #3c4761;
}
.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -38px;
}
.skills__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0 55px 0 55px;
  max-width: 250px;
}

.item-skills {
  margin-left: 75px;
}
.item-skills__graphics {
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 50px;
  font-weight: 300;
  line-height: 20.84px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.86px;
  margin-top: 20px;
}
.item-skills .item-skills__ring1::before {
  content: "";
  background: url("https://i.imgur.com/GIMfa1H.png");
  position: relative;
  bottom: -95px;
  left: -8px;
}
.item-skills .item-skills__ring1::after {
  content: url("https://i.imgur.com/fH9J7Hp.png");
  position: relative;
  top: -86px;
  left: -8px;
}
.item-skills .item-skills__ring2::before {
  content: url("https://i.imgur.com/GIMfa1H.png");
  position: relative;
  bottom: -95px;
  left: -8px;
}
.item-skills .item-skills__ring2::after {
  content: url("https://i.imgur.com/NtLeOpI.png");
  position: relative;
  top: -86px;
  left: -8px;
}
.item-skills .item-skills__ring3::before {
  content: url("https://i.imgur.com/GIMfa1H.png");
  position: relative;
  bottom: -95px;
  left: -8px;
}
.item-skills .item-skills__ring3::after {
  content: url("https://i.imgur.com/oTXyqEo.png");
  position: relative;
  top: -86px;
  left: -8px;
}
.item-skills .item-skills__ring4::before {
  content: url("https://i.imgur.com/GIMfa1H.png");
  position: relative;
  bottom: -95px;
  left: -8px;
}
.item-skills .item-skills__ring4::after {
  content: url("https://i.imgur.com/nkqH5YD.png");
  position: relative;
  top: -86px;
  left: -8px;
}
.item-skills__subtitle {
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  white-space: nowrap;
  position: relative;
  top: -45px;
  left: -4px;
}

.portfolio {
  height: 1420px;
  background-color: #ffdd99;
}
.portfolio__body {
  max-width: 1200px;
  margin: 0px auto;
  min-width: 1200px;
}
.portfolio__title {
  color: #393939;
}
.portfolio__title::after {
  background-color: #e5c37f;
}
.portfolio__subtitle {
  color: #393939;
}
.portfolio__nav {
  display: inline-block;
  margin-top: 40px;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__nav-item {
  color: #393939;
  border-radius: 5px;
  padding: 8px 20px;
  background-color: #ebcb8d;
  margin: 0 15px;
}
.portfolio__nav-item:hover {
  background-color: white;
}
.portfolio__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 62px;
}
.portfolio__column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-top: 75px;
}
.portfolio__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__column2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 90px;
}
.portfolio__button {
  background-color: #17c2a4;
  border-bottom: 5px solid #14a58b;
  margin-left: 450px;
}
.portfolio__button:active {
  background-color: #0e9e84;
  color: rgb(175, 174, 174);
}

.item-portfolio__pc {
  padding: 0 30px;
}
.item-portfolio__title {
  color: #393939;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  margin-top: 30px;
}

.about {
  height: 950px;
  background-color: #d74680;
}
.about__body {
  max-width: 1200px;
  margin: 0px auto;
  min-width: 1200px;
}
.about__title {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.about__title::after {
  background-color: #b73b6d;
}
.about__subtitle {
  margin-bottom: 70px;
}
.about__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 155px;
}
.about__column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.about__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__column2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.item-about {
  position: relative;
  left: 30px;
}
.item-about__photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 45px;
}
.item-about__text {
  max-width: 390px;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 21px;
  font-style: italic;
  line-height: 31.2px;
  text-align: left;
  letter-spacing: 0.35px;
  display: inline-block;
  margin-right: 21px;
}
.item-about__title {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-left: 190px;
}
.item-about__subtitle {
  color: #ffdd99;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.36px;
  margin-left: 190px;
}

.touch {
  height: 820px;
  background-color: #3c5499;
}
.touch__body {
  max-width: 1200px;
  margin: 0px auto;
  min-width: 1200px;
}
.touch__titile::after {
  background-color: #273a71;
}
.touch__subtitle {
  margin-bottom: 75px;
}
.touch__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.touch__name {
  width: 415px;
  height: 55px;
  background-color: #273a71;
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 5px;
  margin-right: 30px;
  padding: 20px;
}
.touch__name::-webkit-input-placeholder {
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__name::-moz-placeholder {
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__name:-ms-input-placeholder {
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__name::-ms-input-placeholder {
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__name::placeholder {
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__email {
  width: 415px;
  height: 55px;
  background-color: #273a71;
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 5px;
  padding: 20px;
}
.touch__email::-webkit-input-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__email::-moz-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__email:-ms-input-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__email::-ms-input-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__email::placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__message {
  display: block;
  resize: horizontal;
  background-color: #273a71;
  color: white;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 5px;
  margin-left: 170px;
  padding: 20px;
}
.touch__message::-webkit-input-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__message::-moz-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__message:-ms-input-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__message::-ms-input-placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__message::placeholder {
  color: white;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.touch__button {
  margin-top: 60px;
  background-color: #30bae7;
  border-bottom: 5px solid #299ec4;
  margin-left: 450px;
}
.touch__button:active {
  background-color: #2392b8;
  color: rgb(175, 174, 174);
  border-bottom: 5px solid #2486a7;
}

.footer {
  height: 115px;
  background-color: #344b8e;
}
.footer__body {
  max-width: 1200px;
  margin: 0px auto;
  min-width: 1200px;
}
.footer__nav {
  font-family: "Titillium Web";
  font-weight: bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.91px;
  text-align: center;
  letter-spacing: 0.48px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav-item {
  padding: 42px 32px;
  color: white;
}
.footer__nav-item:hover {
  color: #30bae7;
}